@model ContactViewModel

@{
    ViewData["Title"] = "Contact";
}

<h1 class="header">Contact</h1>

<form id="contactForm" asp-action="Index" method="post">

    @Html.AntiForgeryToken()

    <!-- Honeypot veld -->
    <div class="hp" style="display:none;">
        <label asp-for="Website">Laat dit veld leeg</label>
        <input asp-for="Website" tabindex="-1" autocomplete="off"/>
    </div>

    <div class="input">
        <label asp-for="Name"></label>
        <input asp-for="Name" placeholder="Naam"/>
        <span asp-validation-for="Name" class="error"></span>
    </div>

    <div class="input">
        <label asp-for="Email"></label>
        <input asp-for="Email" placeholder="naam@domein.nl"/>
        <span asp-validation-for="Email" class="error"></span>
    </div>

    <div class="input">
        <label asp-for="Subject"></label>
        <input asp-for="Subject" placeholder="Onderwerp"/>
        <span asp-validation-for="Subject" class="error"></span>
    </div>

    <div class="input">
        <label asp-for="Message"></label>
        <textarea asp-for="Message" rows="5" placeholder="Je bericht"></textarea>
        <span asp-validation-for="Message" class="error"></span>
    </div>

    <div id="liveStatus" aria-live="polite"></div>

    <div class="send-button" role="button" onclick="document.getElementById('contactForm').submit()">
        Versturen
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}